/*color palette*/
:root{
    /* --hexDarkBlack: #001219;
    --hexDarkBlue1: #005f73;
     --hexMediumBlue: #0a9396;
    --hexBeige: #e9d8a6;
    --hexYellow: #ee9b00;
    --hexDarkYellow:#ca6702;
    --hexBrown: #ae2012;
    --hexCoolRed:#9b2226; */

    --hexBackgroundBlue: #060e17;
    --hexMidLevelBlue: #1b263b;
    --hexLighestBlue: #415a77;
    --hexCloserToSilver: #778da9;
    --hexLightWhite: #e0e1dd;
}


/*fonts*/
@font-face {
    font-family: Nord Regular;
    src: url(fonts/Nord\ Regular.otf);
}
@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf)
}
/*Animate sliding in*/
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
/*Animate sliding out*/
@keyframes slideOutToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideOutToRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

/*placeholder delaying animation*/
@keyframes animDelay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

div{
    overflow: hidden;
}
/*text attributes*/
h1, h2, h3, p, button, details, .question, .answers{
    font-family: Montserrat;
    color:#e0e1dd;
}
body{
    background-color: var(--hexLightWhite);
    overflow-x: hidden;
    margin:0;
}
footer {
    background-color: #415a77;
}
/*For animated details and summary*/
/*Adopted from https://css-tricks.com/how-to-animate-the-details-element/*/
summary {
    border: 4px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
    background-color:#1b263b;
    color:#e0e1dd;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}
    /*Set BG color to dark blue when page is focused.*/
summary:focus{
    background-color: #060e17;
}
details {
    box-sizing: border-box;
    margin-top: 5px;
    background: #1b263b;
}
details[open] > summary:before {
    transform: rotate(90deg);
}
summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

.content {
    border-top: none;
    padding: 10px;
    border: 2px solid #888;
    border-top: none;
}
/*page classes*/
.imgFullWidth{
    max-width: 100%;
    flex-basis: 100%;
    padding-top: 3rem;
}
.imgHalfWidth{
    max-width: 50%;
    flex-basis: 50%;
}
.flexBasis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flexHorBasis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexBasis, .flexHorBasis {
    border: 1px solid transparent;
    border-radius: 10px;
}
.menuHide{
    display: block;
}
/*Normal H2 funny*/
.nonHoverableh2{
    margin: 1rem;
    border-radius: 3vw;
    padding: 2vw;
    background-color: #1b263b;
    max-width: 90%;
}
/*Buttons to click*/
.hoverableh2{
    margin: 1rem;
    border-radius: 3vw;
    padding: 2vw;
    background-color: #1b263b;
}
.hoverableh2:hover{
    /*make the text grow slightly bigger when hovered*/
    transform: scale(1.25);
    transition: 0.2s;
}
/*Establish alternating background color patterns*/
body>*:nth-of-type(odd){
    background-color: #778da9;
}
body>*:nth-of-type(even){
    background-color: #1b263b;
}
.iframe {
    max-width: 460px;
    max-height: 500px;
}

/*Unique page IDs*/
#header{
   display: grid;
   padding: 20px;
   grid-template-columns: 15% auto auto;
   background-color: var(--hexBackgroundBlue);
}
#hamIcon{
    grid-column: 3/3;
}
#pageTitle{
    /*color: var(--hexBeige);*/
    color: var(--hexLightWhite);
    margin-right: 0;
    padding-right: 50%;
}
#intro, #navbar {
    display: none;
}
/*page container properties*/
#pageContainer{
    display: flex;
    flex-direction: column;
}
#pageContainer >* {
    padding-left: 10%;
    padding-right: 10%;
}
/*Establish alternating background color patterns*/
#pageContainer>*:nth-of-type(odd){
    background-color: #778da9;
}
#pageContainer>*:nth-of-type(even){
    background-color: #1b263b;
}
.page>*:nth-of-type(even) {
    background-color: #778da9;
}
/* extra content to be hidden on mobile*/
.extra {
    display: none;
}

/*the basis that goes in the basis container*/
.halfBasis,.quarterBasis,.threeQuarterBasis,.fullBasis{
    flex-basis: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid transparent;
    width: 100%;
}
.halfBasis {
    padding: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#passenger {
    background-color: #778da9;
}

/*Classes for tabs in uses section*/

#useContainer, #partsContainer{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

#navbar{
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #060e17;
    position: fixed;
    top: 0;
    left: -100%;
    width: 225px;
    height: 100%;
    transition: all 1s ease;
}

/* Adopted from https://css-tricks.com/the-checkbox-hack/ */
.tabcontent {
    display: none;
    transition: all 0.6s ease; 
}
/*Animate the tab components sliding in*/
.tabcontent.show, .tabcontent.visuallyHidden {
    display: flex;
}
.tabcontent> .halfBasis {
    transform: translateX(0%);
}
/*Set end states for animated elements*/
.tabcontent> .halfBasis:nth-of-type(1) {
    animation: 0.80s linear animDelay, 1.5s ease-out 0.80s 1 slideInFromLeft;
}
.tabcontent> .halfBasis:nth-of-type(2) {
    animation: 0.80s linear animDelay, 1.5s ease-out 0.80s 1 slideInFromRight;
}
.visuallyHidden >.halfBasis:nth-of-type(1) {
    transform: translateX(-100%);
    transition: 1.5s ease-out 0.80s;
}
.visuallyHidden >.halfBasis:nth-of-type(2) {
    transform: translateX(100%);
    transition: 1.5s ease-out 0.80s;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
#about {
    display: flex;
    margin: auto;
    width: auto;
}

/* RWD breakpoints*/
@media screen and (min-width: 500px) {

}
@media  screen and (min-width:800px) {
    .fullBasis{
        justify-content: space-evenly;
        margin: auto;
        width: 100%;
        flex: 4;
        padding: 0 0.5rem 0 0.5rem;
    }
    .threeQuarterBasis{
        width: 65%;
        flex-basis: 75%;
        flex:3;
        padding: 0 0.5rem 0 0.5rem;
    }
    .quarterBasis{
        width: 15%;
        flex-basis: 25%;
        flex:1;
        padding: 0 0.5rem 0 0.5rem;
    }
    .halfBasis{
        width: 45%;
        flex-basis: 50%;
        flex:2;
        padding: 0 0.5rem 0 0.5rem;
    }
    #intro {
        display: flex;
        justify-content: center;
    }
    /*Style the navbar to fit back into the main area of the site*/
    #navbar {
        position: static;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 0px;
    }
    #menuList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #hamIcon {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .extra{
        display: block;
    }
}
#navbar.menuShow {
   left: 0%;
}